@{ 
    var ClientCode = ViewBag.ClientCode;
}

@Html.HiddenFor(x=> ClientCode)

<div class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Remove Client</h4>
    </div>
    <br />
        <div id="modal-body remove-client-modal-body" class="modal-body remove-client-modal-body">
            @Html.Label("Are you sure you want to remove this client from the directory?")
        </div>

        <div class="modal-footer">
            <input type="button" value="Remove" class="btn btn-warning confirm-remove" />
            <button type="button" class="btn btn-warning btnCancel" data-dismiss="modal">Cancel</button>
        </div>
</div>
