
@{
    ViewBag.Title = "Index";
    var code = ViewBag.Code;
    var clientCode = ViewBag.ClientCode;
}

@Html.HiddenFor(x => clientCode)

<div class="partial-container">
    @if (code == "User")
    {
        Html.RenderAction("_Dashboard", "Dashboard");
    }
    else
    {
        Html.RenderAction("_Dashboard", "ClientPortal");
    }
</div>