
@{
    string code = ViewBag.Code;
}

<h2>Statement</h2>
<br />

<script>
    $('.datepicker').datepicker({
        orientation: 'bottom',
        autoclose: true,
    })

    $('.fromTime').timepicker({
        minuteStep: 1,
        showSeconds: true
    })

    $('.toTime').timepicker({
        minuteStep: 1,
        showSeconds: true,
    })

    $('.client-list').multiselect({
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        enableFiltering: true
    })
</script>

<div class="row">
    <div class="form-group">
        @if (code == "User")
        {
            <div class="div-client-filter">
                <div class="col-md-3">
                    <label>Client:</label>
                </div>
                <div class=" sms-purchase-report-dropdown col-md-9">
                    @Html.DropDownList("Client", new SelectList(ViewBag.Client, "Value", "Text"), new { @class = "form-control client-list" })
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="form-group div-datetime-filter">
        <div class="form-group col-md-12">
            <label>Date Range</label>
        </div>
        <div class="col-md-12" style="margin-top: 5px;">
            <div class="col-md-3" style="left: 20px;">
                <label>From:</label>
            </div>
            <div class="col-md-4" style="right: 10px; width: 115px;">
                <input type="text" class="form-control datepicker fromDate" placeholder="Date" />
            </div>
            <div class="col-md-4 bootstrap-timepicker" style="right: 10px; width: 140px;">
                <input type="text" class="form-control fromTime" placeholder="Time" />
            </div>
        </div>
        <div class="form-group col-md-12" style="margin-top: 10px;">
            <div class="col-md-3" style="left: 20px;">
                <label>To:</label>
            </div>
            <div class="col-md-4"  style="right: 10px;  width: 115px;">

                <input type="text" class="form-control datepicker toDate" placeholder="Date" />
            </div>
            <div class="col-md-4 bootstrap-timepicker" style="right: 10px;  width: 140px;">
                <input type="text" class="form-control toTime" placeholder="Time" />
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <input type="button" class="btn btn-warning btnGenerateStatement" value="Generate Statement" />
</div>


<div class="statement">

</div>
