@{
    ViewBag.Title = "_viewAll";
    Layout = null;
}
<h3 style="color:darkslategray">Client Statistics</h3>

<link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />

<div style="overflow:hidden;height:@ViewBag.TotalHeight">
    <canvas id="barChart" style="overflow:hidden"></canvas>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Chart.min.js"></script>
<script>
    var coopName = @Html.Raw(Json.Encode(ViewBag.CoopName));
    var data = @Html.Raw(Json.Encode(ViewBag.Data));
    var color = @Html.Raw(Json.Encode(ViewBag.Color));

    var ctx = $('#barChart');
    var pie = new Chart(ctx, {
        type: 'horizontalBar',
        data:{
            labels: coopName,
            datasets:[{
                label: 'Bar Chart',
                data: data,
                backgroundColor: color
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    barPercentage: 0.6,
                    categoryPercentage: 1
                }]
            },
            legend: {
                display: false
            },
            //segmentShowStroke    : true,
            ////String - The colour of each segment stroke
            //segmentStrokeColor   : '#fff',
            ////Number - The width of each segment stroke
            //segmentStrokeWidth   : 2,
            ////Number - The percentage of the chart that we cut out of the middle
            //percentageInnerCutout: 50, // This is 0 for Pie charts
            ////Number - Amount of animation steps
            //animationSteps       : 100,
            ////String - Animation easing effect
            //animationEasing      : 'easeOutBounce',
            ////Boolean - Whether we animate the rotation of the Doughnut
            //animateRotate        : true,
            ////Boolean - Whether we animate scaling the Doughnut from the centre
            //animateScale         : false,
            ////Boolean - whether to make the chart responsive to window resizing
            responsive           : true,
            //// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio  : false
        }
    })
</script>

